---
const features = [
  { url: "https://superbx.app", title: "SUPERB" },
  { url: "#", title: "FluxKit" },
  { url: "#", title: "Pinstripe UI" },
  { url: "#", title: "Rover CLI" },
  { url: "#", title: "Timestack" },
  { url: "#", title: "Signalboard" }
];
---

<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto pt-12 pb-24 text-secondary" data-aos="fade-up" data-aos-duration="2000">
    <div class="flex items-center gap-2">
      <h2 class="text-sm">Pinned</h2>
    </div>
    <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-3 mt-4">
      {features.map((feature, index) => (
        <li data-aos="fade-up" data-aos-duration={1500 + index * 200}>
          <a href={feature.url} class="block border border-secondary p-3 hover:bg-secondary hover:text-primary transition-colors">
            {feature.title}
          </a>
        </li>
      ))}
    </ul>
  </div>
</section>